.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-family: 'Marcellus', sans-serif;

}

#headshotimg {
    height: 100%;
}

.aboutInfo-container {
    width: 50%;
    font-size: 30px;
    font-weight: bold;
    color: #670038;
    margin-left: 5%;
}

.about-info{
    font-size: 20px;
    font-weight: 400;
    color: black;
}