.about-container{
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-family: 'Marcellus', sans-serif;
}

#headshotimg {
    width: 30vw;
}

.aboutInfo-container, .accreditation-container {
    width: 50%;
    font-size: 30px;
    font-weight: bold;
    color: #670038;
    margin-left: 5%;
}

.aboutInfo, .accList{
    font-size: 20px;
    font-weight: 400;
    color: black;
    margin: 0;
    padding-top: 1rem;
}

#showEllipses{
    display: none;
}

.moreButton{
    border: none;
    background-color: white;
    font-size: 20px;
    font-weight: 400;
    color: black;
    border-bottom: 1px solid black;
}