@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Marcellus&display=swap');


.navbar{
    padding: 10px 10px 10px 10px;
    font-family: 'Marcellus', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.container-fluid {
    padding: 0;
}

.navbar-brand  {
    margin: 0 10px 0 10px;
    padding: 0;
    font-size: 40px;
    color: #670038;
}

.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus {
    color:#670038;
}

.navbar-brand img{
    width: 80px;
    height: 80px;
}

