.propertyCard{
    width: 20vw;
    height: auto;
    margin: 1rem;
    padding: 1rem;
}

.propertyPrice{
    font-size: 30px;
    font-weight: bold;
}

.propertyLabel {
    font-size: 20px;
}

.propertyImage img{
    border: 2px solid #670038;
    box-shadow: 1px 1px grey;
    width: 100%;
}

.propertyInfo{
    font-size: 15px;
}