.main-container {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.bg-wrapper {
  position: absolute;
  inset: 0;
}

.bg-slide {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fadeCycle 72s infinite;
}


@keyframes fadeCycle {
  0%   { opacity: 0; }
  6%   { opacity: 1; }
  54%  { opacity: 1; }
  60%  { opacity: 0; }
  100% { opacity: 0; }
}

.header {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 50px;
  margin: 2% 0 0 3%;
  font-family: 'Marcellus', sans-serif;
}
