.main-container {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.bg-wrapper {
  position: absolute;
  inset: 0;
}

.bg-slide {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fadeCycle 72s infinite;
}

@keyframes fadeCycle {
  0%   { opacity: 0; }
  6%   { opacity: 1; }
  54%  { opacity: 1; }
  60%  { opacity: 0; }
  100% { opacity: 0; }
}

.inner-container {
  position: absolute;
  inset: 0;
  z-index: 2;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  position: absolute;
  top: 3%;
  left: 2%;
  z-index: 3;
  color: white;
  font-size: 50px;
  font-family: 'Marcellus', sans-serif;
}

.searchBar{
  z-index: 2;
  width: 40%;
  background: rgba(255, 255, 255);

}


