.searchbarform{
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.8rem;
}

.input-container{
  flex: 1;
  position: relative;
  font-size: 20px;
}

#searchbarInput {
  border: none;
  width: 100%;
  height: 50px;
  padding: 0 3rem 0 1rem;
  outline: none;
}

#searchbarInput:focus{
  outline: none;
  box-shadow: none;
}

#searchbarInput::placeholder{
  color: rgba(75, 75, 75, 0.);
}

.filtersButton{
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: white;
    color: rgba(75, 75, 75, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchButton {
  background-color:#670038; 
  color: white;
  border-radius: 3px;
  border: none;
  width: 15%;
  padding:0.5rem;
}

.searchButton:hover {
  background-color:#3e0022; 
}

.filters-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  padding: 1rem;
  border: none;
  z-index: 10;
  padding: 0.8rem;
  display: flex;
  flex-direction: row;
}

.dropdown-item{
  font-size: 15px;
  margin: 0 .5rem 0 .5rem;
}

#minPriceInput, #maxPriceInput, #bedroomInput, #bathroomInput {
  width: 100%;
  height: 100%;
  color: rgba(75, 75, 75, 0.8);
  border: 1px solid #670038;
  padding: 0.2rem;
}

#minPriceInput::placeholder, #maxPriceInput::placeholder{
  color: rgba(75, 75, 75, 0.8);
}